.service {
    &__text, &__pic {
        flex : 1 1 50%;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    &__pic > img {
        height: 322px;
        object-fit: cover;
        width: 100%;
    }

    &__text {
        transform: translateY(-5%)
    }

    &__title {
        font-family: 'Roboto Light';
        font-size: 28px;
        line-height: 24px;
        color: $primary-color;
        margin-bottom: 14px;
    }

    &__desc {
        font-family: 'Roboto Thin';
        font-weight: 100;
        font-size: 18px;
        line-height: 24px;
        color: #464646;
    } 
}

@media screen and (max-width: 767px) {
    .service {
        &__text, &__pic {
            flex : 1 1 100%;
            padding: 0 15px;
            margin-bottom: 20px;
        }
    }
}